#carousel {
  margin: 0 auto;
  width: 75%;
}
h1 {
  text-align: center;
}
#harryPotter {
  text-align: center;
}
#fastFurious {
  text-align: center;
}
#dumbDumber {
  text-align: center;
}

#reserveButton {
  position: relative;
  bottom: 200px;
  left: 50px;
  width: 220px;
  height: 50px;
}

#deselectButton {
  position: relative;
  bottom: 200px;
  left: 50px;
  width: 220px;
  height: 50px;
}

body {
  background-image: url('slides4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.containerSeats {
  width: 50%;
  height: 350px;
  background-color: black;
  position: static;
  margin: 0 auto;
  margin-top: 20px;
}

.buttonsContainer {
  position: relative;
  width: 220px;
  height: 100px;
  float: right;
  right: 100px;
}
.row {
  width: 100%;
  height: 87.5px;
  left: 2%;
  margin: 0;
}

.col-lg-2 {
  width: 16.6666666666667%;
  height: 87.5px;
}

.col-lg-2:hover {
  background-color: white;
}

.seatImage {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.reservePopup {
  width: 30%;
  height: 500px;
  background-color: white;
  position: absolute;
  z-index: 2;
  left: 35%;
  top: 100px;
}
