#carousel {
  margin: 0 auto;
  width: 100%;
  margin-top: 200px;
  margin-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

h1, h2{
  text-align: center;
  color: gold;
  font-size: 50px;
  font-family: 'Monoton', cursive;
}

h2{
  font-size: 25px;
  margin-bottom: 20px;
}

#harryPotter {
  text-align: center;
}
#fastFurious {
  text-align: center;
}
#dumbDumber {
  text-align: center;
}

#reserveButton {
  position: relative;
  bottom: 200px;
  width: 50%;
  height: 100%;
  background-color: black;
  border: none;
  float: left;

}



#deselectButton {
  position: relative;
  bottom: 200px;
  width: 50%;
  height: 100%;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  float:right;
}

body {
  background-color: black;
  background-image: url('../images/slides4.jpg');
  background-size: 100% 60%;
  background-repeat: no-repeat;
}

.floor {
  border-top: 8px;
  border-bottom: 0px;
  border-right: 0px;
  border-left: 0px;
  border-style: ridge;
  border-color: gold;
  background-color: black;
  height: 50%;
  width: 100%;
  padding: 50px;
}

.containerSeats {
  width: 50%;
  height: 30%;
  background-color: black;
  position: static;
  margin: 0 auto;

}

.buttonsContainer {
  position: relative;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 40%;
  height: 115px;
  top: 220px;
}

button img {
  width: 70%;
}

.row {
  width: 100%;
  left: 2%;
  margin: 0;
}

.col-lg-2 {
  border-radius: 8px;
}

.col-lg-2:hover {
  background-color: white;
}

.col-md-2:hover {
  background-color: white;
}

.col-sm-2:hover {
  background-color: white;
}

.col-xs-2:hover {
  background-color: white;
}

.selected {
  background-color: white;
}

.seatImage {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.reservePopup {
  width: 30%;
  height: 500px;
  background-color: white;
  position: absolute;
  z-index: 2;
  left: 35%;
  top: 100px;
}

.glyphicon {
  margin-left: 10px;
  margin-right: 10px;
  top: 2px;
}

.input-group {
  margin-top: 5px;
}

button:focus{
  outline: 0;
}

/* unvisited link */
a:link {
    color: gold;
}

/* visited link */
a:visited {
    color: gold;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: red;
}

h2 {
  text-decoration: none;
}

#bottom {
  text-align: center;
  text-decoration: none;
  color: gold;
  font-size: 20px;
  font-family: 'Monoton', cursive;
}


/* media queries */

@media only screen and (max-width: 600px) {
  .seatImage {
    display: inline-block;
    width: 20px;
    height: 20px;
  }
  .containerSeats {
    width: 100%;
    height: 100%;
    background-color: black;
    position: static;
    margin: 0 auto;
  }
  .buttonsContainer {
    height: 75px;
    width: 300px;
  }


  #carousel {
    display: none;
  }

  .glyphicon {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .col-sm-2 {
    padding: 10px;
  }


}

@media only screen and (min-width: 1200px) {

}
