#carousel {
  margin: 0 auto;
  width: 60%;
  margin-top: 20px;
  margin-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

h1, h2{
  text-align: center;
  color: gold;
  font-size: 40px;
  font-family: 'Monoton', cursive;
}

h2{
  font-size: 25px;
  margin-bottom: 20px;
}

#harryPotter {
  text-align: center;
}
#fastFurious {
  text-align: center;
}
#dumbDumber {
  text-align: center;
}

#reserveButton {
  position: relative;
  bottom: 200px;
  width: 100%;
  height: 50%;
  font-size: 1em;

}

#deselectButton {
  position: relative;
  bottom: 200px;
  width: 100%;
  height: 50%;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
}

body {
  background-color: black;
  background-image: url('../images/slides4.jpg');
  background-size: 100% 60%;
  background-repeat: no-repeat;
}

.floor {
  background-color: black;
  height: 50%;
  width: 100%;
  padding: 50px;
}

.containerSeats {
  width: 50%;
  height: 30%;
  background-color: black;
  position: static;
  margin: 0 auto;

}

.buttonsContainer {
  position: relative;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 30%;
  height: 100px;
  top: 220px;
}

.row {
  width: 100%;
  left: 2%;
  margin: 0;
}

.col-lg-2 .col-md-2 .col-sm-2 .col-xs-2{
  width: 16.6666666666667%;
  height: 87.5px;
}

.col-lg-2:hover {
  background-color: white;
}

.col-md-2:hover {
  background-color: white;
}

.col-sm-2:hover {
  background-color: white;
}

.col-xs-2:hover {
  background-color: white;
}

.selected {
  background-color: white;
}

.seatImage {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.reservePopup {
  width: 30%;
  height: 500px;
  background-color: white;
  position: absolute;
  z-index: 2;
  left: 35%;
  top: 100px;
}


/* media queries */

@media only screen and (max-width: 600px) {
  .seatImage {
    display: inline-block;
    width: 20px;
    height: 20px;
  }
  .containerSeats {
    width: 100%;
    height: 30%;
    background-color: black;
    position: static;
    margin: 0 auto;
  }

  .buttonsContainer {
    width: 100%;
    float: left;
  }
  #carousel {
    display: none;
  }
}

@media only screen and (min-width: 990px) {

}

@media only screen and (min-width: 1200px) {

}
