#carousel {
  margin: 0 auto;
  width: 100%;
  margin-top: 200px;
  margin-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

/* Headers */
h1, h2{
  text-align: center;
  color: gold;
  font-size: 50px;
  font-family: 'Monoton', cursive;
}

h2{
  font-size: 25px;
  margin-bottom: 20px;
}

/* Videos */
#harryPotter {
  text-align: center;
}
#fastFurious {
  text-align: center;
}
#dumbDumber {
  text-align: center;
}


/* Buttons */
#reserveButton {
  position: relative;
  bottom: 200px;
  width: 50%;
  height: 100%;
  background-color: black;
  border: none;
  float: left;

}

#deselectButton {
  position: relative;
  bottom: 200px;
  width: 50%;
  height: 100%;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  float:right;
}

 /* body */
body {
  background-color: black;
  background-image: url('../images/slides4.jpg');
  background-size: 100% 60%;
  background-repeat: no-repeat;
}

.floor {
  border-top: 8px;
  border-bottom: 0px;
  border-right: 0px;
  border-left: 0px;
  border-style: ridge;
  border-color: gold;
  background-color: black;
  height: 50%;
  width: 100%;
  padding: 50px;
}

 /* Legend */
.legend {
  background-color: gray;
  width: 35%;
  height: 90px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 12px;
}

.legendSeat {
  height: 55px;
  width: 15%;
  padding-left: 10px;
  margin: 15px 10px 15px 0px;
}

.legendSpan {
  color: white;
  font-size: 1.15em;
  height: 80px;
  width: 49%;
  padding-top: 5px;
  color: white;
  font-weight: bold;
}

/*Side Popcorns*/
.leftPopcorn {
  position: absolute;
  width: 15%;
  left: 5%;
  top: 800px;
}

.rightPopcorn {
  position: absolute;
  width: 15%;
  left: 80%;
  top: 800px;
}

/*Container for the seats*/
.containerSeats {
  width: 50%;
  height: 30%;
  background-color: black;
  position: static;
  margin: 0 auto;

}

/*Container for the buttons*/
.buttonsContainer {
  position: relative;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 40%;
  height: 115px;
  top: 220px;
}

/*Movie ticket buttons*/
button img {
  width: 70%;
}

button:focus{
  outline: 0;
}

#deselectButton img {
  transition: 0.5s all;
}

#deselectButton img:hover {
  opacity: 0.5;
}

#reserveButton img {
  transition: 0.5s all;
}

#reserveButton img:hover {
  opacity: 0.5;
}

/*Bootstrap grid*/
.row {
  width: 100%;
  left: 2%;
  margin: 0;
}

.col-lg-2 {
  border-radius: 8px;
  cursor: pointer;
  transition: 0.6s;
}

.col-lg-2:hover {
  background-color: white;
}

.col-md-2:hover {
  background-color: white;
}

.col-sm-2:hover {
  background-color: white;
}

.col-xs-2:hover {
  background-color: white;
}

.col-lg-2 img {
  transition: 0.5s all;
}

.col-lg-2 img:hover {
  opacity: 0.2;
}

.seatImage {
  display: inline-block;
  width: 100%;
  height: 100%;
}

/*Applied when selected*/
.selected {
  background-color: white;
}

/*Pop up after clicking reserve (The modal)*/
.reservePopup {
  width: 30%;
  height: 500px;
  background-color: white;
  position: absolute;
  z-index: 2;
  left: 35%;
  top: 100px;
}

.input-group {
  margin-top: 5px;
}

/*The down arrows*/
.glyphicon {
  margin-left: 10px;
  margin-right: 10px;
  top: 2px;
}

/* unvisited link */
a:link {
    color: gold;
}

/* visited link */
a:visited {
    color: gold;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: red;
}

h2 {
  text-decoration: none;
}

#bottom {
  text-align: center;
  text-decoration: none;
  color: gold;
  font-size: 20px;
  font-family: 'Monoton', cursive;
}

/* media queries */

@media only screen and (max-width: 600px) {
  .seatImage {
    display: inline-block;
    width: 20px;
    height: 20px;
  }
  .containerSeats {
    width: 100%;
    height: 100%;
    background-color: black;
    position: static;
    margin: 0 auto;
  }
  .buttonsContainer {
    height: 75px;
    width: 300px;
  }


  #carousel {
    display: none;
  }

  .glyphicon {
    display: none;
  }



  .byeFelicia {
    font-size: 10px;
  }
}

@media only screen and (max-width: 1220px) {
  .legend {
    width: 50%;
  }
}

@media only screen and (max-width: 900px) {
  .legend {
    width: 30%;
    height: 100px;
  }

  .legendSpan {
    display: inline-block;
    position: relative;
    height: 40px;
    width: 70%;
    margin-bottom: 0px;
    top: 8px;
  }

  .legendSeat {
    height: 30px;
    width: 20%;
    margin-bottom: 0px;

  }
  #legendReserved {

  }
}

@media only screen and (max-width: 710px) {
  .legend {
    height: 100px;
    width: 50%;
  }

  .leftPopcorn {
    display: none;
  }

  .rightPopcorn {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .legend {
    width: 70%;
    height: 100px;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 600px) {
  .col-sm-2 {
    padding: 12px;
  }


}



@media only screen and (min-width: 1200px) {

}
