#carousel {
  margin: 0 auto;
  width: 75%;
}
h1 {
  text-align: center;

}
#harryPotter {
  text-align: center;
}
#fastFurious {
  text-align: center;
}
#dumbDumber {
  text-align: center;
}
body {
  background-image: url('slides4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.containerSeats {
  width: 50%;
  height: 350px;
  background-color: rgb(24, 56, 109);
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
}
